.projeto {
    font-size: 21px;
    font-weight: 700;
    margin-left: 24px;
    margin-block-start: 0;
    margin-block-end: 0;
}

.projeto__comunidade{
    opacity: 80%;
    background-color: inherit;
    margin: 8px 0 8px 24px;
}

.container__projeto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 32px;
}

.container__perfil-comunidade{
    display: flex;
    align-items: center;
}

.contagem {
    margin-left: 10px;
    margin-right: 18px;
}

.projeto__likes {
    display: flex;
}
.container-interacoes {
    display: flex;
    align-items: center;
}
.codigo-padrao {
    padding: 12px 32px 32px 32px;
    margin: 48px 0 32px 0;
    border-radius: 8px;
}
.codigo-verde {
    background-color: var(--verde-editor);
}
.codigo-azul {
    background-color: var(--azul-editor);
}
.codigo-rosa {
    background-color: var(--rosa-editor);
}
.codigo-laranja {
    background-color: var(--laranja-editor);
}
.codigo-azul-escuro {
    background-color: var(--azul-escuro-editor);
}
.container-interacoes:hover {
    background-color: var(--branco-hover);
    border-radius: 16px;
}
.container-interacoes:active {
    background-color: var(--branco-active);
}
.container__perfil-comunidade:hover {
    background-color: var(--branco-hover);
    border-radius: 8px;
}
/* .card-projeto:hover ~.container__projeto {
    display: flex;
} */
@media screen and (min-width: 1200px) {
    .container__centro-comunidade {
        width: 80%;
    }
    .cabecalho-desktop {
        display: flex;
        justify-content: space-between;
    }
    .header__busca-comunidade {
        margin-right: 218px;
    }
    .main__centro {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    .codigo-padrao {
        margin: 24px 0 24px 0;
    }
    .card-projeto {
        background-color: rgba(0, 0, 0, 0.16);
    }
}
