.codigo {
    padding: 12px 32px 32px 32px;
    margin: 48px 0 32px 0;
    background-color: var(--azul-editor);
    border-radius: 8px;
}
.codigo__campo {
    display: block;
    width: 92%;
    height: 50vh;
    background-color: var(--fundo-editor);
    color: var(--branco);
    border-radius: 8px;
    padding: 52px 4% 16px 4%;
    border-style: none;
    font-style: var(--roboto-mono);
    font-weight: 400;
    font-size: 14px;
}

.codigo__simbolo {
    position: relative;
    top: 30px;
    left: 16px;
}

.container__menu, .codigo__campo-desktop {
    display: none;
}

.botao-highlight {
    background-color: var(--azul-botao);
    color: var(--branco);
    font-family: var(--inter);
    font-size: 16px;
    padding: 16px auto;
    width: 100%;
    height: 3.5rem;
    border: none;
    border-radius: 8px;
}
.botao-highlight:hover, .botao-highlight:active {
    background-color: var(--azul-botao2);
}

.botao-highlight:active {
    border: 4px solid var(--azul-botao3);
}

.botao-highlight:focus {
    background-color: var(--azul-botao3);
}
.projeto__h3, .personalizacao__h3 {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: var(--branco);
    margin-top: 40px;
    margin-bottom: 16px;
}

.projeto__nome, 
.projeto__descricao { 
    background-color: var(--fundo-formulario);
    width: calc(100% - 28px);
    padding: 16px 14px;
    border-radius: 8px;
    margin-bottom: 16px;
    color: var(--branco);
}

.projeto__nome::placeholder, 
.projeto__descricao::placeholder, 
.opcao {
    color: var(--branco);
    opacity: 0.64;
    font-family: var(--inter);
    font-weight: 400;
    font-size: 16px;
}

.seleciona__linguagem {
    background-color: var(--fundo-formulario);
    width: 100%;
    padding: 16px 14px;
    border-radius: 8px;
    color: var(--branco);
    opacity: 0.64;
    font-family: var(--inter);
    font-weight: 400;
    font-size: 16px;
}

.fieldset {
    border: none;
    padding: 0;
}
.opcao, .opcao:hover {
    background-color: var(--fundo-editor);
}

.seleciona__linguagem:hover, .seleciona__linguagem:focus, .seleciona__linguagem:checked {
    background-color: var(--fundo-formulario);
}
.personalizacao-desktop, .desktop {
    display: none;
}
.fieldset-cor {
    padding: 8px;
    height: 40px;
    border-radius: 8px;
    margin: 24px 0;
    width: calc(100% - 20px);
}
.seleciona__cor {
    background-color: var(--azul-editor);
    box-sizing: border-box;
    appearance: none;
    border-radius: 8px;
    width: 100%;
    height: 40px;
}
.cor1 {
    background-color: var(--azul-editor);
}
.cor2 {
    background-color: var(--verde-editor);
}
.cor3 {
    background-color: var(--azul-escuro-editor);
}
.cor4 {
    background-color: var(--laranja-editor);
}
.cor5 {
    background-color: var(--rosa-editor);
}

.botao__salvar, .botao__salvar-desktop {
    background-color: var(--azul1);
    color: var(--azul-fundo);
    width: 100%;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    font-family: var(--inter);
    font-weight: 400;
    font-size: 16px;
    margin: 8px 0 24px;
}

.botao__salvar:hover, .botao__salvar-desktop:hover, .botao__salvar:active,  .botao__salvar-desktop:active{
    color: var(--branco);
    border-color: var(--branco);
    background-color: var(--azul2);
}

.botao__salvar:focus, .botao__salvar-desktop:focus {
    background-color: var(--azul-claro);
}

.p-comunidade {
    opacity: 56%;
}

.container__perfil:hover {
    background-color: var(--branco-hover);
    border-radius: 8px;
}

.projeto__nome:hover, .projeto__descricao:hover, .seleciona__linguagem:hover {
    background-color: var(--branco-24) ;
}
@media screen and (min-width: 750px) {
    .codigo {
        margin-top: 40px;
    }
    .codigo__campo {
        padding: 52px 2% 16px 2%;
        width: 96%;
        height: 30vh;
    }
    .main {
        margin: 0 16px;
    }
    .seleciona__linguagem {
        width: 50%;
        height: 59px;
    }
    .fieldset-cor {
        width: 50%;
        margin: 0 0 0 16px;
    }
    .personalizacao {
        display: flex;
    }
    .botao__salvar {
        margin-top: 32px;
    }
}
@media screen and (min-width: 1200px) {
    .desktop {
        display: flex;
        justify-content: space-between;
        margin: 32px 16px;
    }
    .container__direita {
        width: 20%;
    }
    .mobile-tablet {
        display: none;
    }
    .container__menu {
        display: flex;
        flex-direction: column;
        margin-top: 49px;
        justify-content: space-between;
    }
    .container__imagem, .container__comunidade{
        margin-top: 16px;
        display: flex;
        align-items: center;
    }
    .container__imagem-menu {
        margin-right: 16px;
    }
    .main {
        display: flex;
        justify-content: space-between;
    }
    .codigo__campo, .personalizacao {
        display: none;
    } 
    .header__busca {
        width: 750px;
        height: 28px;
    }
    .codigo__campo-desktop {
        display: block;
        width: 96%;
        height: 30vh;
        background-color: var(--fundo-editor);
        color: var(--branco);
        border-radius: 8px;
        padding: 52px 2% 16px 2%;
        border-style: none;
    }
    .personalizacao-desktop {
        display: block;
    }
    .seleciona__linguagem {
        width: 100%;
    }
    .personalizacao__h3 {
        margin-top: 24px;
    }
    .personalizacao__hide {
        display: none;
    }
    .fieldset-cor {
        width: calc(100% - 20px);
        margin: 16px 0;
    }
    .botao__salvar {
        display: none;
    }
    .botao__salvar-desktop {
        margin-top: 16px;
    }
}